<div class="container">
  <header><h1>Welcome The Grocery Shopper!</h1></header>

  <br><br>


  <div class="col-md-8 col-md-offset-2">

    <div class="content">
      <strong><p>As a Client you can find all the help you need, thanks to our network of Shoppers!<br> You won't need to carry all those heavy bags and wait in line with kids running everywhere, someone will do it for you!<br> Every Shopper privides an email and a telephone number, and will deliver food directly to your door.<br> As a Shopper you can help people with their grocery lists, enlarge your network of acquaintances and earn some money. </p></strong>
      <br><br>
    </div>

    <div class="sidebar">

      <div class="w3-container w3-red w3-cell">
        <strong><h3>Already have an account?</h3></strong>
        <h4>If you're a Shopper, <a href="/shoppers/login">Log In here</a></h4>
        <h4>If you're a Client, <a href="/clients/login">Log In here</a></h4>
      </div>

      <div class="w3-container w3-red w3-cell">
        <strong><h3>New user?</h3></strong>
        <h4>If you're a Shopper, <a href="/shoppers/signup">Sign Up Here</a></h4>
        <h4>If you're a Client, <a href="/clients/signup">Sign Up Here</a></h4>
        <br><br>
      </div>
    </div>
  </div>

</div>
